<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title th:text="${filial} ? ${filial.name} : #{filialForm.label.create}"> </title>
</head>

<body>
<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- profile -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="basicform" >
            <h3 class="section-title" th:text="${add} ? #{filialForm.label.create} : #{filialForm.label.update}"></h3>
            <p th:text="${add} ? #{filialForm.label.create_desc} : #{filialForm.label.update_desc}"></p>
        </div>
        <div class="card">
<!--            <h3 class="card-header font-bold text-dark" th:text="${filial} ? ${filial.organization.name} : ''">Organization Name</h3>-->
            <div class="card-body">
                <form action="#" th:action="${add} ? @{create} : '/organization/' + ${orgId} + '/filial/update/' + ${filial.id}"  th:object="${filial}" method="POST">
                    <label class="text-dark font-bold col-form-label" data-th-text="#{filialForm.label.image.logo}"></label>
                    <div class="form-group">
                        <div class="box">
                            <div class="js--image-preview"></div>
                            <div class="upload-options">
                                <label>
                                    <input type="file" name="image" class="image-upload" accept="image/*" />
                                </label>
                            </div>
                        </div>
                        <script th:inline="javascript">
                            var image = /*[[${filial.image}]]*/ null;
                            if(image != null){
                                var thumb = document.querySelector('.js--image-preview');
                                thumb.style.backgroundImage = 'url(' + image + ')';
                                thumb.className += ' js--no-default';
                            }
                        </script>
                    </div>
                    <div class="form-group">
                        <label class="text-dark font-bold col-form-label" for="inputFilialName" data-th-text="#{filialList.label.branch}"></label>
                        <input th:value="${filial} ? ${filial.name} : '' " th:field="*{name}" id="inputFilialName" type="text" class="form-control">
                        <p th:if="${#fields.hasErrors('name')}" style="color: red;" th:errors="*{name}">Incorrect LP</p>
                    </div>
                    <div class="form-group">
                        <label class="text-dark font-bold" for="inputFilialDescription" data-th-text="#{filialForm.label.desc}"></label>
                        <textarea th:text="${filial} ? ${filial.description} : '' " th:field="*{description} "class="form-control" id="inputFilialDescription" rows="3"></textarea>
                        <p th:if="${#fields.hasErrors('description')}" style="color: red;" th:errors="*{description}">Incorrect LP</p>
                    </div>
                    <div class="form-group">
                        <label class="text-dark font-bold" for="inputFilialAddress" data-th-text="#{filialList.label.address}"></label>
                        <input th:value="${filial} ? ${filial.address} : '' " th:field="*{address}" id="inputFilialAddress" type="text" class="form-control">
                        <p th:if="${#fields.hasErrors('address')}" style="color: red;" th:errors="*{address}">Incorrect LP</p>
                    </div>
                    <div class="form-group">
                        <label class="text-dark font-bold" for="inputFilialLongitude" data-th-text="#{filialForm.label.longitude}"></label>
                        <input th:value="${filial} ? ${filial.longitude} : '' " th:field="*{longitude}" id="inputFilialLongitude" type="text" class="form-control">
                        <p th:if="${#fields.hasErrors('longitude')}" style="color: red;" th:errors="*{longitude}">Incorrect LP</p>
                    </div>
                    <div class="form-group">
                        <label class="text-dark font-bold" for="inputFilialLatitude" data-th-text="#{filialForm.label.latitude}"></label>
                        <input th:value="${filial} ? ${filial.latitude} : '' " th:field="*{latitude}" id="inputFilialLatitude" type="text" class="form-control">
                        <p th:if="${#fields.hasErrors('latitude')}" style="color: red;" th:errors="*{latitude}">Incorrect LP</p>
                    </div>
                    <div class="form-group">
                        <label class="text-dark font-bold" for="inputFilialAverageRate" data-th-text="#{filialList.label.rate}"></label>
                        <input th:value="${filial} ? ${filial.averageRate} : '' " th:field="*{averageRate}" id="inputFilialAverageRate" type="text" class="form-control">
                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        <label class="text-dark font-bold" for="input-select" data-th-text="#{label.status}"></label>
                        <br>
                        <div class="switch-button switch-button-sm">
                            <input type="checkbox" th:checked="${filial.status}" name="status" id="input-select"><span>
                           <label for="input-select"></label></span>
                        </div>
                    </div>
                    <div>
                        <button th:text=" ${add} ? #{button.label.create} : #{button.label.update}"
                                th:class="${'Create'} ? 'btn btn-info' : 'btn btn-success' "
                                type="submit" class="btn btn-success" data-toggle="tooltip"
                                data-placement="top" title="Tooltip on top">Create
                        </button>

                        <a th:if="${!add}" type="button" style="color: white;" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal " data-th-text="#{button.label.delete}"></a>

                        <!-- Modal -->
                        <div th:if="${!add}" class="modal fade" tabindex="-1" id="delete_modal" role="dialog" aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="recordDeleteModalLabel" data-th-text="#{button.label.delete_message}"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label data-th-text="#{filialForm.label.confirm_to_delete}"></label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-th-text="#{label.no}"></button>
                                        <a class="btn btn-danger" th:href="@{'/organization/' + ${orgId}  + '/filial/delete/' + ${filial.id}}" data-th-text="@{label.yes}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- end profile -->
    <!-- ============================================================== -->
</div>
</body>
</html>
